*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
gradle
app/proguard-rules.pro
app/src/androidTest
app/src/main/res/mipmap-*
app/src/main/res/values*
app/src/test/
app/src/main/java/com/surmenok/maria/recepitparser/Configuration.java